name: main-workflow
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: first step
        run: |
          echo running workflow in main branch
          hostname
          sleep 10
          touch /tmp/gagandeep13jun
      - name: second step 
        run: echo "hello from second condition based step"
        if: runner.os == 'Ubuntu'
        
      - name: third step
        run: echo "hello from 3rd step"
        if: runner.os != 'Ubuntu'
